header{
	height: 120px; width: 100% ;
	background-color: white; padding: 10px;
	border: 1px solid black;
}
footer{
	height: 120px; width: 100% ;
	background-color: white; padding: 10px;
	border: 2px solid black;
}
h1{
	color:#111;
	text-align: center;
}
#logo{
	height: 120px; width: 120px;
	top: 0px; left: 0px;
}
body{
	margin: 0px;
	border: 0px;
}

a{
	text-decoration: none;
}
.li{
	border: 1px solid black;
	display: inline-block;
 	background: white;
        color: black;
        width: 200px;
        line-height: 100px;
        font-size: 60px
        text-align center;
}
table{
	width: 60%;
	height: 300px;
text-align: center;
border: 3px solid black;
background-color: red;

}
.chet{
	background-color: white;
}
td{
	border: 3px solid black;
}
